* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/**/
html {
  /*font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: black;
}

/********************/
/* HEADER */
/********************/
.header {
  background-color: #ecf9fb;
  height: 9.6rem;
  padding: 3rem 4.8rem;
}
.logo {
  height: 5rem;
}

/********************/
/* NAVIGATION */
/********************/
.menu__box {
  list-style: none;
  display: flex;
  text-align: center;
  float: right;
  gap: 3.2rem;
}

.menu__box:link,
.menu__box:visited {
  text-decoration: none;
  color: #001a8a;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.menu__box:hover,
.menu__box:active {
  color: #ff9c98;
}

.menu__item {
  padding: 1.2rem 2.4rem;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;

  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.menu__item:hover {
  color: #ff9c98;
}
#menu__toggle {
  visibility: hidden;
}

/********************/
/* HERO SECTION */
/********************/

.section-hero {
  background-color: #ecf9fb;
  padding: 9.6rem 0 20rem 0;
  margin-bottom: -25rem;
}

.hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr; /*postavi v vrsto*/
  padding: 0 3.2rem;
  max-width: 130rem; /* Poveča */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2.8rem;
}

.hero-img {
  width: 100%; /*dobi isto dolzino za responsive website*/
}

/********************/
/* HOW IT WORKS SECTION */
/********************/
.section-how {
  padding: 9.6rem 0;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  width: 80%;
}

.section-video {
  background-image: linear-gradient(90deg, #4ab4da, #8359f2);
  padding: 30rem 0 20rem 0;

  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
}

.hero2 {
  display: block;
  grid-template-columns: 1.5fr 1fr; /*postavi v vrsto*/
  padding: 0 3.2rem;
  max-width: 130rem; /* Poveča */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.tekst {
  text-align: center;
  font-size: 4.8rem;
  color: #fff;
  font-weight: 600;
  padding-bottom: 10rem;
  line-height: 1.05;
}

.group1 {
  text-align: center;
  padding-bottom: 10rem;
  width: 100%;
}

.video-border {
  margin: auto;
  margin-bottom: 10rem;
  max-width: 100%;
}

.video {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  clip-path: polygon(50% 10%, 100% 0, 100% 70%, 50% 90%, 0 70%, 0% 0%);
  /*clip-path: polygon(100% 85%, 50% 100%, 0 85%, 0 0, 50% 10%, 100% 0);*/
}

.group2 {
  text-align: center;
  padding-bottom: 10rem;
  width: 100%;
}

.cto {
  background-color: #ecf9fb;
  background-image: linear-gradient(90deg, #4ab4da, #8359f2);
  padding: 30rem 0 20rem 0;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  margin-bottom: 10rem;
  padding: 9.6rem 0 20rem 0;
  display: grid;
  max-width: 100%;
  margin-bottom: -6rem;
}

.hero3 {
  justify-content: center;
  grid-template-columns: 1.5fr 1fr; /*postavi v vrsto*/
  padding: 0 3.2rem;
  max-width: 130rem; /* Poveča */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
  display: flex;
}

.user-name {
  font-weight: 600;
  font-size: larger;
}

.user-name span {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.user-name {
  margin-bottom: 2rem;
}

.user-description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2.8rem;
  color: #fff;
}

.user-role {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2.8rem;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf9fb;

  height: 20rem;
  padding: 0 4.8rem;
}
.logo {
  height: 3.8rem;
}

.main-nav-list2 {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}

.main-nav-link2:link,
.main-nav-link2:visited {
  text-decoration: none;
  color: #001a8a;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link2:hover,
.main-nav-link2:active {
  color: #ff9c98;
}

.social a {
  font-size: 2.4rem;
  color: inherit;
  max-width: 4rem;
  max-height: 4rem;
  line-height: 3.8rem;
  justify-content: space-between;
  text-align: center;
  margin: 0 3rem;
  opacity: 0.75;
  color: #001a8a;
}

.social a:hover {
  opacity: 0.9;
  color: #4ab4da;
}
